/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* DESKTOP */
    /* L59  polices */
    /* L84  general */
    /* L136  header */
    /* L176  container */
        /* L194  form */
        /* L245  filters */
        /* L284 info */
    /* L305  accomodations */
        /* L313  card */
        /* L352  accomodations article */
        /* L395  popular */
    /* L448 activities */
        /* L487 card xl */
        /* L515 column */
    /* L562 footer */

/* L580  MEDIA QUERIES TABLETTE*/
    /* L609 header */
        /* L649  form */
        /* L668 filters */
    /* L685  accomodations */
        /* L701  popular */
        /* L737  accomodations article */    
    /* L781 activities */
        /* L799  card xl */
        /* L824  column */
    /* L872 footer*/

/* L882  MEDIA QUERIES TRANSITION MOBILE */
        /* L995  form */
    /* L907  accomodations */
        /* L936  popular */
        
/* L958  MEDIA QUERIES MOBILE */
        /* L936  form */
    /* L976 activities */
    /* L1055 footer */


/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */

/*
Black (text) :			#000
Gray (background) :		#F2F2F2
Dark gray (star) :      #d9d9d9
Blue (primary-color) :	#0065FC
Sky blue (icons) :      #DEEBFF


/* ---------------------------------------- */
/* ==            POLICES              */
/*---------------------------------------- */

@font-face {
    font-family: 'ralewaymedium';
    src: url('../police/medium/raleway-medium-webfont.eot');
    src: url('../police/medium/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/medium/raleway-medium-webfont.woff2') format('woff2'),
         url('../police/medium/raleway-medium-webfont.woff') format('woff'),
         url('../police/medium/raleway-medium-webfont.ttf') format('truetype'),
         url('../police/medium/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../police/extra-bold/raleway-extrabold-webfont.eot');
    src: url('../police/extra-bold/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/extra-bold/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../police/extra-bold/raleway-extrabold-webfont.woff') format('woff'),
         url('../police/extra-bold/raleway-extrabold-webfont.ttf') format('truetype'),
         url('../police/extra-bold/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------- */
/* ==            GENERAL              */
/*---------------------------------------- */


* {
    box-sizing: border-box;
    font-family: 'ralewaymedium';
}

h2, h3, h4, span, input, ::placeholder, button, .filters__btn p {
    font-family: 'ralewayextrabold';
}

body {
    margin: 0;
}

.container, .main {
    width: 93%;
    max-width: 1600px;
    margin: auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header a:hover, .search-bar__btn:hover, .filters__btn:hover, .icon-filters, .icon-info, .fa-star {
    color: #0065FC;
}

a, ::placeholder, .black-star {
    color: black;
}

.icon-search, .search-bar__btn:hover, .accomodations__article, aside, footer {
    background-color: #F2F2F2;
}

.filters__btn, figure {
    background-color: white;
}

.flex {
    display: flex;
}

/* ---------------------------------------- */
/* ==            HEADER             */
/*---------------------------------------- */

header {
    margin-bottom: 30px;
}

header .container {
    justify-content: space-between;
    align-items: flex-start;
}

header img {
    width: 100px;
    height: auto;
    margin-top: 30px;
}

header ul {
    margin: 0;
}

header li {
    width: 150px;
}

header li a {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

header a:hover {
    border-top: solid 3px #0065FC;
    padding: 0;
    padding-top: 27px;
}


/* ---------------------------------------- */
/* ==            CONTAINER             */
/*---------------------------------------- */

h2 {
    font-size: 19.2px;
    margin: 0;
}

h3, .filters p, ::placeholder, .search-bar__btn, .btn-desktop, .icon-filters, footer span {
    font-size: 16px;
}

h5 {
    font-size: 14.4px;
    font-weight: normal;
    margin-top: 10px;
}

/* ==            FORM              */

form {
    position: relative;
    max-width: 370px;
    margin-top: 25px;
}

.icon-search, input, .search-bar__btn {
    height: 45px;
}
    
.icon-search {
    justify-content: center;
    align-items: center;
    min-width: 45px;
    border-radius: 15px 0 0 15px;
}

input {
    width: 90%;
    border: solid 1px #F2F2F2;
    border-radius: 0 15px 15px 0;
    padding-left: 15px;
}

input:focus {
    outline: none;
}

::placeholder {
    opacity: 1;
}

.search-bar__btn {
    position: absolute;
    right: 0;
    border: none;
    background-color: #0065FC;   
    color: white;
}

.btn-mobile {
    display: none;
}

.btn-desktop {
    border-radius: 0 15px 15px 0;
    width: 125px;
}

/* ==            FILTERS              */


.filters {
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0 30px 0;
}

.filters h3  {
    margin-right: 20px;
}

.filters__btn, .icon-filters {
    height: 45px;
}

.filters__btn {
    align-items: center;
    border: solid 2px #d9d9d9;
    border-left: none;
    border-radius: 50px;
    padding: 0 12px 0 0;
    margin-right: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.icon-filters {
    background-color: #DEEBFF;   
    width: 45px;
    margin-right: 10px;
}

/* ==            INFO              */

.info {
    align-items: center;
}

.info h5 {
    margin: 0;
}

.icon-info {
    min-width: 21px;
    height: 21px;
    border: solid 1px #d9d9d9;
    margin-right: 10px;
    font-size: 13px;
}

/* ---------------------------------------- */
/* ==            ACCOMODATIONS              */
/*---------------------------------------- */

#accomodations {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* ==           CARD               */

figure {
    max-width: 480px;
    height: 200px;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    margin: 0 auto 10px auto;
}

figure img {
    height: 115px;
    width: 100%;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

figcaption {
    font-size: 12.8px;
    padding: 5px 0 5px 0;
    margin: 0 0 0 10px;
    font-size: 12.5px;
    line-height: 24px;
}

figcaption h4 {
    margin: 0;
    font-size: 14px;
}

.fa-star {
    font-size: 10px;
}

.gray-star {
    color: #d9d9d9;
}

/* ==            ACCOMODATIONS ARTICLE               */

.accomodations__article {
    width: 64%;
    border-radius: 20px;
}

.accomodations__article h2 {
    width: 90%;
    margin: 25px auto 25px auto;
}

.accomodations__article h3 {
    width: 90%;
    margin: 5px auto 15px auto;
}

.accomodations__cards {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 91%;
    margin: auto;
}

.accomodations__cards a {
    width: 31%;
}

.accomodations__cards figure{
    min-height: 175px;
    height: 205px;
    width: 100%;
    margin-bottom: 25px;    
}

.accomodations__cards figure img {
    height: 110px;
}

.accomodations__cards figcaption {
    line-height: 22px;
}

/* ==            POPULAR              */

aside {
    width: 34%;
    margin: 0;
    border-radius: 20px;
    padding: 0;
}

.aside__title {
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 480px;
    margin: auto;
}

aside h2 {
    display: inline-block;
    margin: 25px 0 25px 0;
}

.black-star {
    font-size: 17.6px;
}

.card-popular {
    width: 85%;
    height: 135px;
    padding: 1%;
    margin: 0 auto 25px auto;
}

.card-popular img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px 0  0 17px;
}

.card-popular figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    margin: 5px 0 0 15px;
}

.card-popular h4 {
    margin-bottom: 5px;
}

/* ---------------------------------------- */
/* ==            ACTIVITIES              */
/*---------------------------------------- */

#activities {
    margin: 50px 0 40px 0;
}

#activities h2 {
    margin: 25px auto 25px auto;
}

.activities__cards {
    flex-direction: row;
    justify-content: space-between;
}

.activities__article  {
    justify-content: space-between;
    width: 48.5%;
    height: 370px;
    margin-bottom: 25px;        
}

.card-activity {
    height: 200px;
    padding: 0;
    margin-bottom: 25px;
}

.card-activity img {
    height: 140px;
    object-position: 0 15%;
}

.card-activities figcaption {
    padding: 7px 0 0 0;
}

/* ==          CARTE XL            */
    
.activities__card-xl  {
    width: 47%;
    height: 100%;
}

.activities__card-xl  figure{
    height: 100%;
}

.activities__card-xl  img {
    height: 320px;
}

.vieux-port img {
    object-position: 50%;
}

.calanques img {
    object-position: 43% 50%;
    filter: brightness(150%);
}

.calanques figcaption {
    line-height: 20px;
}

/* ==          COLUMN            */

.activities__column  {
    flex-direction: column;
    justify-content: space-between;
    width: 47%;
}

.activities__column  figure {
    margin: 0;
}

.fort-pomegues {
    height: 205px;
}

.fort-pomegues img {
    height: 155px;
    object-position: 0 43%;
}

.iles-frioul {
    height: 131px;
}

.iles-frioul img {
    height: 81px;
    object-position: 0 30%;
}

.notre-dame {
    height: 151px;
}

.notre-dame img {
    height: 101px;
}

.parc-longchamp {
    height: 185px;
}

.parc-longchamp img {
    height: 135px;
    object-position: 50% 10%;
}

/* ---------------------------------------- */
/* ==            FOOTER              */
/*---------------------------------------- */

footer {
    padding: 30px 0;
}

footer ul {
    padding: 0;
    width: 33%;
}

footer li {
    font-size: 15px;
    line-height: 32px;
}

/* ---------------------------------------- */
/* ==            MEDIA QUERIES              */
/*---------------------------------------- */

/* ---------------------------------------- */
/* ==            TABLETTE              */
/*---------------------------------------- */

@media (max-width: 992px) {

    .container, .main {
        width: 90%;
        margin: auto;
    }

    h2 {
        font-size: 22.4px;
    }

    h3 {
        font-size: 19px;
    }

    h5 {
        font-size: 16px;
        margin-top: 20px;
    }

    /* ------------------------------*/
    /* ==       HEADER           */
    /*-------------------------------*/
    
    header {
        margin-bottom: 50px;
    }

    header .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header img {
        margin-top: 10px;
    }

    header nav {
        width: 100%;
    }

    header ul {
        padding: 0;
    }

    header li {
        width: 50%;
    }

    header a {
        border-bottom: solid 3px #F2F2F2;
        padding: 20px 0;
    }

    header a:hover {
        border-bottom: solid 3px #0065FC;
        border-top: none;
        padding-bottom: 23px;
    }
    
    /* ==            FORM              */

    form {
        width: 63%;
    }

    .icon-search {
        min-width: 50px;
    }
    
    .btn-mobile {
        display: none;
    }

    .btn-desktop {
        border-radius: 0 15px 15px 0;
        width: 150px;
    }

    /* ==            FILTERS              */

    .filters h3 {
        flex-basis: 100%;
    }

    .filters__btn {
        margin:  0 10px 10px 0;
    }

    /* ==            INFO              */

    .info {
        align-items: center;
    }

    /* ------------------------------*/
    /* ==       ACCOMODATIONS           */
    /*-------------------------------*/

    #accomodations {
        flex-direction: column-reverse;
    }

    figcaption {
        font-size: 16px;
        padding: 15px 0 0 10px;
    }

    figcaption h4 {
        font-size: 16.5px;
    }

    /* ==            POPULAR              */

    aside {
        width: 100%;
        margin-bottom: 25px;
        border-radius: 20px;
    }

    .aside__title {
        width: 70%;
        max-width: 625px;
        margin: auto;
    }

    .card-popular {
        height: 170px;
        width: 70%;
        max-width: 625px;
        padding: 1%;
        margin: 0 auto 20px auto;
    }

    .card-popular img {
        width: 45%;
        object-position: 0 65%;
    }

    .card-popular figcaption {
        width: 50%;
        padding: 10px 0 10px 15px;
    }

    .card-popular h4 {
        margin-bottom: 10px;
    }

    /* ==       ACCOMODATIONS ARTICLE          */

    .accomodations__article {
        background: none;
    }

    .accomodations__article, .accomodations__article h2, .accomodations__article h3, .accomodations__cards {
        width: 100%;
    }

    .accomodations__cards {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .accomodations__cards a {
        width: 48%;
    }

    .accomodations__cards figure {
        width: 100%;
        height: 220px;
        margin-bottom: 25px;
    }

    .accomodations__cards img {
        height: 125px;
        object-position: 0 65%;

    }

    .hotel-mer img{
        object-position: 0 58%;
    }

    .hotel-amina img {
        object-position: 0 55%;
    }

    .accomodations__article h3 {
        margin-top: 0;
    }

    /* ------------------------------*/
    /* ==       ACTIVITIES           */
    /*-------------------------------*/

    #activities {
        margin-bottom: 30px;
    }

    .activities__cards {
        flex-direction: column;
    }
    
    .activities__article  {
        justify-content: space-between;
        width: 100%;
        height: 500px;
        margin-bottom: 25px;
    }

    /* ==          CARTE XL            */
    
    .activities__card-xl  {
        width: 48%;
        height: 100%;
    }
    
    .activities__card-xl  figure{
        height: 100%;
        width: 100%;
    }
    
    .activities__card-xl  img {
        height: 440px;
    }

    .vieux-port img {
        object-fit: none;
        object-position: 50% 0;
    }

    .calanques img {
        object-position: 43% 50%;
    }

    /* ==          COLUMN            */
    
    .activities__column  {
        flex-direction: column;
        justify-content: space-between;
        width: 48%;
    }
    
    .activities__column  figure {
        width: 100%;
        margin: 0;
    }
    
    .fort-pomegues {
        height: 285px;
    }
  
    .fort-pomegues img {
        height: 225px;
    }
    
    .iles-frioul {
        height: 185px;
    }

    .iles-frioul img {
        height: 125px;
        object-position: 0 30%;
    }
   
    .notre-dame {
        height: 220px;
    }

    .notre-dame img {
        height: 160px;
    }
    
    .parc-longchamp {
        height: 250px;
    }

    .parc-longchamp img {
        height: 190px;
        object-position: 50% 10%;
    }

    /* ------------------------------*/
    /* ==       FOOTER           */
    /*-------------------------------*/

    .footer__nav ul:nth-of-type(2) {
        padding-left: 20px;
    }
}


/* ---------------------------------------- */
/* ==            MEDIA QUERIES              */
/*---------------------------------------- */

/* ---------------------------------------- */
/* ==            MOBILE             */
/*---------------------------------------- */

@media (max-width: 768px) {

    .main, form, aside {
        width: 100%;
    }

    /* ==          FORM            */

    .icon-search, .btn-mobile, .icon-filters {
        width: 50px;
        height: 50px;
    }

    input, .filters__btn, .btn-desktop {
        height: 50px;
    }

    /* ------------------------------*/
    /* ==       ACCOMODATIONS           */
    /*-------------------------------*/

    .accomodations__article, #activities {
        width: 90%;
        margin: auto;
    }

    .accomodations__article h3 {
        margin: 10px 0 0 0;
    }

    figcaption {
        padding: 5px 0;
    }

    .fa-star {
        font-size: 14.4px;
    }

    .accomodations__cards figure {
        height: 200px;
        padding: 1%;
    }

    .accomodations__cards figure img {
        height: 115px;
    }

    /* ==          POPULAR            */

    aside {
        border-radius: 0;
    }

    .card-popular {
        height: 150px;
    }

    .card-popular img {
        width: 40%;
    }

    .card-popular figcaption {
        width: 55%;
        padding: 0;
    }
}


/* ---------------------------------------- */
/* ==            MEDIA QUERIES MOBILE             */
/*---------------------------------------- */

@media (max-width: 500px) {

    /* ==          FORM            */

    .btn-mobile {
        display: inline-block;
        width: 50px;
        border-radius: 15px;
    }

    .btn-desktop {
        display: none;
    }

    /* ------------------------------*/
    /* ==       ACTIVITIES           */
    /*-------------------------------*/

    .activities__article  {
        height: 675px;
        margin-bottom: 25px;
    }

    .activities__card-xl  {
        height: 33%;
    }

    .activities__column  {
        height: 66%;
        justify-content: flex-start;
    }

    .activities__column  figure, .activities__card-xl  figure {
        height: 200px;
        margin-bottom: 25px;
    }

    .card-popular {
        width: 90%;
    }

    .accomodations__cards {
        flex-direction: column;
    }

    .accomodations__cards a {
        width: 100%;
    }

    .activities__cards {
        margin-bottom: 25px;
    }

    .activities__article  {
        flex-direction: column;
        margin-bottom: 0;
    }

    .card-activity {
        height: 200px;
        padding: 0;
        margin-bottom: 25px;
    }
    
    .card-activity img {
        height: 140px;
        object-position: 0 15%;
    }

    .activities__card-xl , .activities__column  {
        width: 100%;
    }

    .vieux-port img {
        object-fit: cover;
    }

    .fort-pomegues img {
        object-position: 0 43%;
    }
    
    .calanques img {
        object-position: 0 14%;
    }
    
    .notre-dame img {
        object-position: 0 13%;
    }
    
    .parc-longchamp img {
        object-position: 0 24%;
    }

    /* ------------------------------*/
    /* ==       FOOTER          */
    /*-------------------------------*/

    footer {
        padding: 10px 0 0 0;
    }

    .footer__nav {
        flex-direction: column;
    }   

    .footer__nav ul {
        width: 100%;
    }

    .footer__nav ul:nth-of-type(2) {
        padding-left: 0px;
    }  
}